[submodule "Multicore"]
	path = Multicore
	url = https://github.com/SternduCode/Multicore.git
	branch = main
[submodule "DataTransfer"]
	path = DataTransfer
	url = https://github.com/SternduCode/DataTransfer.git
	branch = main
[submodule "Encryption"]
	path = Encryption
	url = https://github.com/SternduCode/Encryption.git
	branch = main
[submodule "Bridge"]
    path = Bridge
    url = https://github.com/SternduCode/Bridge.git
    branch = main
[submodule "Util"]
	path = Util
	url = https://github.com/SternduCode/Util.git
    branch = main
[submodule "Balancer"]
	path = Balancer
	url = https://github.com/SternduCode/Balancer.git
